.reply{
    background-color: rgb(89, 89, 250);
    text-align: left;
    color: white;
    letter-spacing: 2px;
    width:100%;
    height: fit-content;
    border-radius: 1rem;

    p{
        padding:0.4rem;
        margin-left: 1rem;
    }
}

.own-msg{
    background-color: rgb(185, 185, 185);
    text-align: right;
    color: white;
    letter-spacing: 2px;
    width:100%;
    height: fit-content;
    border-radius: 1rem;

 
}

p{
    padding:0.4rem;
    margin-left: 1rem;
}

.text-input{
    margin-top: 1rem;

    input{
        @media screen and (max-width:600px) {
            width:100%;
             
         }
        width:50%;
        background-color: rgb(185, 185, 185);
        height: 2rem;
        border-radius: 0.9rem;
        text-align: center;
    }

    button{
        @media screen and (max-width:600px) {
            width:90%;
            margin-top: 1rem;
         }
        border-radius: 1rem;
        height: 2rem;
        width: 5rem;
        margin-left: 1rem;
        cursor: pointer;
        background-color: rgb(89, 89, 250);
        color: white;
        letter-spacing: 2px;
    }
}

.header-chat{
    display: flex;
    margin: 1rem;
    justify-content: space-around;
}

